<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="me.rahul.plugins.mediapicker"
        version="0.0.1">

        <name>MediaPicker</name>
        <description>Select Media files Using Media Picker Cordova Plugin</description>

        <author>Rahul Pandey</author>

        <engines>
            <engine name="cordova" version=">=3.0.0" />
        </engines>

        <js-module name="MediaPicker" src="www/MediaPicker.js">
            <clobbers target="window.plugins.mediapicker" />
        </js-module>

        <platform name="ios">

            <config-file parent="/*" target="config.xml">
                <feature name="MediaPicker">
                    <param name="ios-package" value="MediaPicker" />
                </feature>
            </config-file>

            <header-file src="src/ios/MediaPicker.h" />
            <source-file src="src/ios/MediaPicker.m" />

            <framework src="MediaPlayer.framework" weak="true" />

        </platform>

        <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="MediaPicker" >
                    <param name="android-package" value="me.rahul.plugins.mediapicker.MediaPicker"/>
                </feature>
            </config-file>

            <config-file target="AndroidManifest.xml" parent="/*">
                <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            </config-file>

            <source-file src="src/android/MediaPicker.java" target-dir="src/me/rahul/plugins/mediapicker" />
            <source-file src="src/android/Base64.java" target-dir="src/me/rahul/plugins/mediapicker" />
     </platform>
</plugin>
